<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>VoipProjectDev</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>Home1.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WebUserServlet</display-name>
    <servlet-name>WebUserServlet</servlet-name>
    <servlet-class>WebUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WebUserServlet</servlet-name>
    <url-pattern>/web.html</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DefaultContactServlet</display-name>
    <servlet-name>DefaultContactServlet</servlet-name>
    <servlet-class>DefaultContactServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DefaultContactServlet</servlet-name>
    <url-pattern>/default.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ContactServlet</display-name>
    <servlet-name>ContactServlet</servlet-name>
    <servlet-class>ContactServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContactServlet</servlet-name>
    <url-pattern>/contact.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WebSubUserServlet</display-name>
    <servlet-name>WebSubUserServlet</servlet-name>
    <servlet-class>WebSubUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WebSubUserServlet</servlet-name>
    <url-pattern>/webSubUser.do</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>SessionTimoutFilter</display-name>
    <filter-name>SessionTimoutFilter</filter-name>
    <filter-class>filter.SessionTimoutFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>SessionTimoutFilter</filter-name>
    <url-pattern>/contact.do</url-pattern>
    <url-pattern>/default.do</url-pattern>
    <url-pattern>/webSubUser.do</url-pattern>
    <url-pattern>/chgPassword1.jsp</url-pattern>
    <url-pattern>/contactList1.jsp</url-pattern>
    <url-pattern>/editContact1.jsp</url-pattern>
    <url-pattern>/editMode1.jsp</url-pattern>
    <url-pattern>/NewContact1.jsp</url-pattern>
    <url-pattern>/phone1.jsp</url-pattern>
    <url-pattern>/usedPoint.jsp</url-pattern>
    <url-pattern>/accountManage1.jsp</url-pattern>
    <url-pattern>/defaultList.jsp</url-pattern>
    <url-pattern>/editDefault1.jsp</url-pattern>
    <url-pattern>/editSubUser.jsp</url-pattern>
    <url-pattern>/NewDefaultContact1.jsp</url-pattern>
    <url-pattern>/newSubUser1.jsp</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
  </filter-mapping>
</web-app>